.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new_game {
	outline: unset;
	background-color: green;
	box-shadow: 3px 3px 10px rgb(5, 58, 5);
	transition: 0.3s all ease-in-out;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}
.new_game:hover {
	background-color: rgb(16, 145, 16);

	box-shadow: 5px 5px 15px rgb(5, 58, 5);
	transform: translateY(-3px);
}
.new_game:active {
	background-color: rgb(50, 203, 50);

	transform: translateY(2px);
}
option {
	overflow: unset;
	font-weight: 700;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(210, 219, 212);
}
